// global style config

// color
$white: #fff;
$black: #000;
$gary: #fafafa;
$primary-color: #1890ff;
$red: #cf1322;

// font
$font-size-hg: 18px;
$font-size-lg: 16px;
$font-size-md: 15px;
$font-size-base: 14px;
$font-size-sm: 12px;

// border
$border-radius-base: 4px;
$border-radius-no: 2px;

// padding
$padding-lg: 20px;
$padding-md: 15px;
$padding-sm: 10px;
$padding-xs: 5px;
$no-padding: 0;

// margin
$margin-lg: 20px;
$margin-md: 15px;
$margin-sm: 10px;
$margin-xs: 5px;

// sidebar
$sidebar-font-family: Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;
$sidebar-height: 44px;
$sidebar-background: #002140;