.preview {
  &-img {
    &:hover {
      .preview-tool-wrapper {
        display: flex;
        opacity: 1;
      }
    }
    .image-wrapper {
      box-sizing: border-box;
      float: left;
      overflow: hidden;
      position: relative;
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        opacity: 0.5;
      }
    }
    .file-wrapper {
      box-sizing: border-box;
      float: left;
      overflow: hidden;
      position: relative;
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 32px;
    }
  }
  &-close {
    cursor: pointer;
  }
  &-zoom {
    margin-right: 20px;
    cursor: pointer;
  }
  &-tool {
    &-wrapper {
      position: absolute;
      top: 0;
      bottom: 0;
      color: rgb(255, 255, 255);
      left: 0;
      right: 0;
      text-align: center;
      display: none;
      align-items: center;
      font-size: 18px;
      justify-content: center;
      background: rgba(0, 0, 0, 0.4);
      transition: all 1.3s;
      opacity: 0;
      z-index: 1024;
    }
  }
}
